@font-face {
    font-family: Circebold;
    src: url("../../fonts/Circe-Bold.woff") format("woff"), /* Modern Browsers */
         url("fonts/Circe-Bold.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: Circe;
    src: url("../../fonts/Circe-Regular.woff") format("woff"), /* Modern Browsers */
         url("fonts/Circe-Regular.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: CirceEbold;
    src: url("../../fonts/Circe-ExtraBold.woff") format("woff"), /* Modern Browsers */
         url("fonts/Circe-ExtraBold.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: CirceELight;
    src: url("../../fonts/Circe-ExtraLight.woff") format("woff"), /* Modern Browsers */
         url("fonts/Circe-ExtraLight.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: Bagnard;
    src: url("../../fonts/Bagnard.otf") format("opentype");
}
