.main {
//  overflow: scroll;
  height: 100vh;
  position: relative;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main__inner {
  overflow: scroll;
  height: 100vh;
  width: calc(100% - 212px);
  @include mobile {
    width: calc(100% - 65px);
  }
}
